@tailwind base;
@tailwind components;
@tailwind utilities;






@layer components {
  .navbar {
    background-color: whitesmoke;
  }
  .sellMenu {
    position: relative;
    cursor: pointer;
  }
  
  .sellMenu .all {
    fill: white;
  }
  
  .sellMenu .top {
    fill: #23e5db;
  }
  
  .sellMenu .left {
    fill: #ffce32;
  }
  
  .sellMenu .right {
    fill: #3a77ff;
  }
  .sellMenu .sellMenuContent {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #002f34;
  }
  .box-shadow{
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);
    z-index: 5;
    
  }
  

  }



